
:root {
	--primary-color: #1a365d;
	--secondary-color: #2b6cb0;
	--accent-color: #4299e1;
	--background-color: #f7fafc;
	--border-radius: 10px;
	--box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	--font-family-sans: 'Cabin', Arial, sans-serif;
    --font-family-serif: 'Playfair Display', Georgia, serif;
    --heading-line-height: 1.2;
    --body-line-height: 1.6;
    --max-content-width: 800px;
}
h1, h2, h3, h4 {
    color: var(--primary-color);
    line-height: var(--heading-line-height);
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-family: var(--font-family-serif);
    font-weight: 900;
}

h1 {
	font-size: 1.75rem;
    margin-top: 0;	
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

p {
    margin-bottom: 1em;
    color: var(--secondary-color);
    font-size: 1rem;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Renkli Metinler */
.text--gray {
    color: #6c757d;
}

.text--primary {
    color: var(--primary-color);
}

.text--secondary {
    color: var(--secondary-color);
}

/* Liste Elemanları */
.content ul {
	color: var(--secondary-color);
    margin-left: 1.5em;
    margin-bottom: 1em;
}

.content li {
	color: var(--secondary-color);
    margin-bottom: 0.5em;
}

/* Sıralı Listeler */
ol {
    margin-left: 1.5em;
    margin-bottom: 1em;
}

.page {
	display: none;
}
.page.active {
	display: block;
}

.container{
	max-width: 90%;
	margin: 0 auto;
	background: white;
	padding: 20px;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}
table{
	border-collapse: collapse;
	border-radius: 1em;
  }
table thead tr td,
table thead tr th,
table tfoot tr td,
table tfoot tr th{
	background-color: #000;
	color: #fff;
}
#example_filter{
	margin-bottom: 20px;
}

body{
	background-color: var(--background-color);
	padding: 20px;
	color: #2d3748;
	line-height: 1.6;
}
h4{
	text-align: left;
}

.center{
	text-align: center;
}

footer{
	text-align: right;
}
            /* Center the photo and make it cover the entire top of the page */
.cover-photo {
    background-image: url('../img/bg.webp');
    background-position: center;
    background-size: cover;
    height: 400px; /* Adjust the height to fit your photo */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
	border-radius: var(--border-radius);
}
.text p{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
}
.text h4{
	color: var(--primary-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
}
.text h3{
	color: var(--primary-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 30px;
}
.text ul{
	color: var(--primary-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
}
.text ol{
	color: var(--primary-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
}
.text li{
	color: var(--primary-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
}


/*extra small - max width */
@media (max-width: 767px) {

	/*.hidden-xs { display: none!important; } */
	.mrec-xs { width:300px; height:250px; }
	.leaderboard-xs { width:728px; height:90px; }
	.mobile-xs { width:320px; height:50px; }
	.skyscraper-xs { width:120px; height:600px; }
	.banner-xs { width:468px; height:60px; }
	}
	
	/* small */
	@media (min-width: 768px) and (max-width: 991px) {
	
	/*.hidden-sm { display: none!important; } */
	.mrec-sm { width:300px; height:250px; }
	.leaderboard-sm { width:728px; height:90px; }
	.mobile-sm { width:320px; height:50px; }
	.skyscraper-sm { width:120px; height:600px; }
	.banner-sm { width:468px; height:60px; }
	}
	
	
	/* medium */
	@media (min-width: 992px) and (max-width: 1199px) {
	
	/*.hidden-md { display: none!important; } */
	.mrec-md { width:300px; height:250px; }
	.leaderboard-md { width:728px; height:90px; }
	.mobile-md { width:320px; height:50px; }
	.skyscraper-md { width:120px; height:600px; }
	.banner-md { width:468px; height:60px; }
	}
	
	/* large */
	@media (min-width: 1200px) {
	
	/*.hidden-lg { display: none!important; } */
	.mrec-lg { width:300px; height:250px; }
	.leaderboard-lg { width:728px; height:90px; }
	.mobile-lg { width:320px; height:50px; }
	.skyscraper-lg { width:120px; height:600px; }
	.banner-lg { width:468px; height:60px; }
	} 



	
	.w-full {
		width: 100%;
	  }
	  
	  .overflow-x-auto {
		overflow-x: auto;
	  }
	  
	  .text-sm {
		font-size: 0.875rem;
		line-height: 1.25rem;
	  }
	  
	  .text-left {
		text-align: left;
	  }
	  
	  .text-gray-300 {
		--tw-text-opacity: 1;
		color: rgb(209 213 219 / var(--tw-text-opacity));
	  }
	  
	  .shadow-md {
		--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	  }
	  
	  .bg-blue-100 {
		--tw-bg-opacity: 1;
		background-color: rgb(219 234 254 / var(--tw-bg-opacity));
	  }
	  
	  .text-md {
		font-size: 1rem;
		line-height: 1.5rem;
	  }
	  
	  .text-gray-700 {
		--tw-text-opacity: 1;
		color: rgb(55 65 81 / var(--tw-text-opacity));
	  }
	  
	  .uppercase {
		text-transform: uppercase;
	  }
	  
	  .bg-gray-200 {
		--tw-bg-opacity: 1;
		background-color: rgb(229 231 235 / var(--tw-bg-opacity));
	  }
	  
	  .sticky {
		position: sticky;
	  }
	  
	  .top-0 {
		top: 0;
	  }
	  
	  .px-6 {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	  }
	  
	  .py-3 {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
	  }
	  
	  .overflow-x-scroll {
		overflow-x: scroll;
	  }
	  
	  .bg-white {
		--tw-bg-opacity: 1;
		background-color: rgb(255 255 255 / var(--tw-bg-opacity));
	  }
	  
	  .border-t {
		border-top-width: 1px;
	  }
	  
	  .border-gray-100 {
		--tw-border-opacity: 1;
		border-color: rgb(243 244 246 / var(--tw-border-opacity));
	  }
	  
	  .px-4 {
		padding-left: 1rem;
		padding-right: 1rem;
	  }
	  
	  .py-4 {
		padding-top: 1rem;
		padding-bottom: 1rem;
	  }
	  
	  .list-disc {
		list-style-type: disc;
	  }
	  
	  .ml-6 {
		margin-left: 1.5rem;
	  }
	  
	  /* Add black borders between rows */
	  tr {
		border-bottom: 1px solid black; /* Black border */
	  }
	  
	  tr:last-child {
		border-bottom: none; /* Remove border from the last row if desired */
	  }
	  
	  /* Set text color to black */
	  table, th, td {
		color: black;
	  }
	  
	  /* DataTables-like styling for headers */
	  th {
		font-size: 0.6rem; /* Slightly smaller font size */
		font-weight: bold; /* Bold text */
		color: #333; /* Dark gray color */
		background-color: #f9f9f9; /* Light gray background */
		padding: 8px; /* Padding for headers */
		text-align: left; /* Align text to the left */
		border-bottom: 2px solid #ddd; /* Bottom border for headers */
	  }
	  
	  /* DataTables-like styling for table body */
	  td {
		font-size: 0.800; /* Standard font size */
		padding: 8px; /* Padding for table cells */
		border-bottom: 1px solid #000000; /* Bottom border for cells */
	  }


	.search-input {
		width: 100%;
		max-width: 400px;
		margin-bottom: 20px;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

/* Tablonun üstüne yükleniyor göstergesi eklemek için */

#example.loading-overlay {
	position: relative;
  }
  
  #example.loading-overlay::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8) url('../img/giphy.gif') center no-repeat;
	z-index: 1000;
  }
  #example{
	width: 100%;
	overflow: hidden;
  }
/* Mobil ayarlar */
@media (max-width: 767px) {
    body {
        padding: 10px; /* Mobil için daha az padding */
    }

	#example {
			font-size: 12px; /* Adjust font size for smaller screens */
		}
    .container {
		padding: 10px;
        max-width: 100%; /* Tam genişlik */
    }
	[class~=container]{
		width:100%; 
	}

    h1 {
        font-size: 1.8rem; /* Daha küçük başlık boyutu */
    }

    h2 {
        font-size: 1.6rem; /* Daha küçük başlık boyutu */
    }

    h3 {
        font-size: 1.4rem; /* Daha küçük başlık boyutu */
    }

    h4 {
        font-size: 1.2rem; /* Daha küçük başlık boyutu */
    }

    p {
        font-size: 16px; /* Paragraf boyutunu küçült */
    }

    .text p, .text h4, .text h3, .text ul, .text ol, .text li {
        font-size: 18px; /* Metin boyutunu ayarla */
    }

    table {
        width: 100%; /* Tabloların tam genişlikte olmasını sağla */
        overflow-x: auto; /* Yatay kaydırma */
    }

    .search-input {
        width: 100%; /* Arama çubuğu tam genişlikte */
        padding: 8px; /* Padding ayarı */
    }

    footer {
        text-align: center; /* Footer metnini ortala */
    }
}

/* Ekstra küçük ekranlar için ayarlar */
@media (max-width: 480px) {
    .text p, .text h4, .text h3, .text ul, .text ol, .text li {
        font-size: 16px; /* Çok küçük ekranlar için metin boyutunu daha da küçült */
    }

    .container {
        padding: 10px; /* Daha fazla padding azalt */
    }
}

.navigation {
    background-color: #ffffff; /* Beyaz arka plan rengi */
    padding: 15px; /* İç boşluk eklemek için */
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none; /* Madde işaretlerini kaldırmak için */
    display: flex; /* Flexbox kullanarak öğeleri yan yana yerleştirmek için */
    justify-content: center; /* Öğeleri yatay hizalamak için */
}

.navigation li {
    margin: 0 15px; /* Sağ ve sol tarafa boşluk eklemek için */
	padding: 10px 20px; /* İç boşluk eklemek için */
    background-color:aliceblue; /* Mavi arka plan rengi */
    border-radius: 5px; /* Kenarları yuvarlatmak için */
    text-decoration: none; /* Alt çizgiyi kaldırmak için */

}

.navigation a {
    display: inline-block; /* Buton gibi görünmesi için */
    text-decoration: none; /* Alt çizgiyi kaldırmak için */
    font-weight: bold; /* Kalın yazı stili */
    transition: background-color 0.3s, transform 0.2s; /* Geçiş efektleri */
}


.navigation a.current {
    color: #007bff; /* Mavi renk */
}

.navigation a:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
    .navigation ul {
        flex-direction: column; 
        align-items: center; 
    }

    .navigation li {
        margin: 5px 0; 
		width: 100%; 

    }
    .navigation a {
        width: 100%; 
        text-align: left; 
    }
}